<aside class="support-widget" aria-label="Support links">
    <div class="support-widget__title">Support</div>
    <a class="support-widget__link" href="mailto:support@voronoigen.com">support@voronoigen.com</a>
    <a class="support-widget__link" href="https://github.com/JoKrk/VoronoiGen" target="_blank" rel="noopener noreferrer">GitHub</a>
</aside>
